# dependencies
node_modules/
src/node_modules/

# Next.js
src/.next/
src/out/

# env files
src/.env.local

# credenciales locales sueltas — NUNCA subir
NXTUP VERCEL CODES.txt
src/.env.*.local
.env.local
.env.*.local

# build output
src/dist/

# Firmware
firmware/nxtap/.pio/
firmware/nxtap/include/secrets.h

# OS
.DS_Store
Thumbs.db
